@keyframes blink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
}
.blink {
    animation: blink 2.5s ease-in-out;
}
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(0, 0, 0);
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: black; 
}
::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 6px;
}
#infinite {
    position: fixed;
    top: 40%;
    left: 20%;
    height: 20%;
    width: 60%;
    background-color: rgba(240, 248, 255, 0);
    z-index: 2;
}
#infinite {
    font-family: 'copperplate', fantasy;
    font-size: .75in;
    justify-content: center;
    text-align: center;
    color:  rgba(70, 70, 70, 0.829);
    letter-spacing: -2px;
}
#tools {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 20%;
    height: 30%;
    background-color: rgba(255, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0); 
    z-index: 4;
}
#centerIcon {
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
    border: none; 
}
#content {
    height: 300vh; 
    z-index: 3;
}
#movingDiv {
    position: fixed;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    width: 50%;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, rgba(70, 70, 70, 0.829), rgba(70, 70, 70, 0.829), transparent) 0.5;
    border-radius: 5px;
    background-color: rgba(199, 98, 98, 0);
    z-index: 3;
    opacity: 0; 
}
#movingDiv {
    font-family: 'copperplate', fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    color: rgba(241, 241, 241, 0.9);
    letter-spacing: 0.5px;
}
#logoDiv {
    position: fixed;
    top: 25%;
    left: 38.9%;
    width: 20%; 
    margin: 20px;
    padding: 10px; 
    cursor: black;
    z-index: 0;
}
#logoDiv img {
    width: 100%; 
    height: auto; 
    display: block; 
    opacity: 0.3;
}
#social-icons {
    position: fixed;
    bottom: 90%; 
    left: 85%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 5; 
}
#social-icons a {
    font-size: 24px; 
    color: rgba(201, 201, 201, 0.829);
    text-decoration: none;
}
#connect a {
    cursor: pointer;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
}

#options {
    position: fixed;
    bottom: 85%;
    left: 3%;
    display: flex;
    z-index: 5;
    transition: transform 0.3s ease;
    animation: pulse 2s infinite; 
}
#options a {
    font-size: 50px;
    color: rgba(201, 201, 201, 0.829);
    text-decoration: none;
    transition: transform 0.3s ease;
}
#options:hover a {
    transform: scale(1.05); 
}

#choose {
    position: fixed;
    bottom: 90%;
    left: 4%;
    height: 0;
    width: 0;
    background-color: transparent;
    border-top: 3px solid rgba(70, 70, 70, 0.877);
    border-bottom: 3px solid rgba(70, 70, 70, 0.877);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px;
    opacity: 0;
    transition: opacity 1s ease, height 1s ease, width 1s ease, bottom 1s ease, left 1s ease;
    z-index: 3;
}
#choose.show {
    bottom: 60%;
    left: 7%;
    height: 30%; 
    width: 12%; 
    opacity: 1;
}
#choose > div {
    margin: 0px 0; 
    font-family: 'copperplate', fantasy;
    font-size: 0; 
    color: rgba(201, 201, 201, 0.829);
}

#choose > div i {
    margin-right: 5px; 
    font-size: 0; 
    color: rgba(201, 201, 201, 0.829);
}
#choose.enlarge > div {
    margin: 13px 0; 
    font-family: 'copperplate', fantasy;
    font-size: 25px; 
    color: rgba(201, 201, 201, 0.829);
    transition: font-size 1.25s ease, margin 1s ease;
}
#choose.enlarge > div i {
    margin-right: 5px; 
    font-size: 30px; 
    color: rgba(201, 201, 201, 0.829);
    transition: font-size 1.25s ease;
}

#game:hover {
    transform: scale(1.05);
}
#game a {
    color: inherit;
    text-decoration: none;
}

#project:hover {
    transform: scale(1.05);
}
#project a {
    color: inherit;
    text-decoration: none;
}

#connect:hover {
    transform: scale(1.05);
}
#connect a {
    color: inherit;
    text-decoration: none;
}

mobileMessage {
    display: none;
}

@media (max-width: 965px) {
    #infinite {
        position: fixed;
        top: 45%;
        left: 0%;
        height: 10%;
        width: 100%;
        background-color: rgba(240, 248, 255, 0);
        z-index: 3;
    }
    #infinite {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: .45in;
        justify-content: center;
        text-align: center;
        color:  rgba(0, 0, 0, 0.829);
        letter-spacing: -2px;
        white-space: nowrap;
    }
    #movingDiv {
        position: fixed;
        bottom: 35%;
        left: 50%;
        height: 30%;
        width: 90%;
        border-width: 5px;
        border-style: solid;
        border-image: linear-gradient(to right, transparent, rgba(70, 70, 70, 1), rgba(70, 70, 70, 1), transparent) .5;
        border-radius: 5px;
        background-color: rgba(199, 98, 98, 0);
    }
    #movingDiv {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: medium;
        color: rgba(241, 241, 241, 0.877);
        letter-spacing: 0px;
    }
    #logoDiv {
        position: fixed;
        top: 35%;
        left: 20%;
        width: 50%; 
        cursor: black;
        z-index: 0;
    }
    #logoDiv img {
        width: 100%; 
        height: auto; 
        display: block; 
        opacity: 0.3;
    }
    #social-icons {
        position: fixed;
        bottom: 20px; 
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 20px;
        z-index: 5; 
    }
    #content {
        height: 230vh; 
        z-index: 3;
    }
    #options {
        display: none;
        z-index: 0;
    }
    #mobileMessage {
        position: fixed;
        top: 22%;
        left: 5%;
        height: 10%;
        width: 90%;
        background-color: transparent;
        display: block;
    }
    #mobileMessage {
        font-family: 'copperplate', fantasy;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: large;
        color: rgba(241, 241, 241, 0.8);
        letter-spacing: 0.5px;
    }
}
