*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background: black;
}
canvas *:not(#div1){
    position: absolute;
    top: 0;
    left: 0;

}
#div1 {
    font-family: Georgia, serif;
    justify-content: center;
    font-size: .75in;
    color: rgb(190, 190, 190);
}
.heavy {
    opacity: 0.9;
}
#trans {
    transition: opacity 1.5s ease-in-out; 
}
#logo {
    position: fixed;
    top: 2.5%;
    left: 5%;
    height: 15%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    transition: opacity 3.5s ease-in-out;
}
#name {
    height: 100%;
    width: 100%;
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .35in;
    color: rgb(190, 190, 190);
    text-align: center;
}
#message {
    position: fixed;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    transition: opacity 3.5s ease-in-out;
    border-radius: 15px;
}
#text {
    height: 100%;
    width: 100%;
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5in;
    color: rgb(255, 255, 255);
    text-align: center;
}
@media (max-width: 800px) {
    #div1 {
        font-family: Georgia, serif;
        justify-content: center;
        font-size: .42in;
        color: rgb(190, 190, 190);
        white-space: nowrap;
        display: none;
    }
    #logo {
        position: fixed;
        top: 10%;
        left: 37.5%;
        height: 15%;
        width: 25%;
        background-color: rgba(0, 0, 0, 0);
        display: block;
        transition: opacity 3.5s ease-in-out;
    }
    #name {
        height: 100%;
        width: 100%;
        font-family: Georgia, serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .35in;
        color: rgb(190, 190, 190);
        text-align: center;
        white-space: nowrap;
    }
    #message {
        position: fixed;
        top: 20%;
        left: 20%;
        height: 60%;
        width: 60%;
        background-color: rgba(0, 0, 0, 0);
        display: block;
        transition: opacity 3.5s ease-in-out;
        border-radius: 15px;
    }
    #text {
        height: 100%;
        width: 100%;
        font-family: Georgia, serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        color: rgb(255, 255, 255);
        text-align: center;
        white-space: nowrap;
    }
}